a {
  text-decoration: none;
  font-style: normal;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  object-fit: cover;
  min-width: 481px;
  height: 200px;
}

input {
  font-family: inherit;
  outline: none;
}

button {
  cursor: pointer;
  border: none;
}

/* START TASK */
.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  width: 371px;
  height: 40px;
  margin-bottom: 32px;
}

.input {
  border-radius: 4px;
  max-width: 272px;
  max-height: 40px;
  padding-left: 16px;
  font-family: 'Montserrat Regular', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}

.input:hover {
  color: #000000;
}

.button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  font-family: 'Montserrat Medium', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4e75ff;
  margin-left: 8px;
  border: none;
}

.button:hover {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.gallery a {
  display: block;
  height: auto;
  flex-basis: calc((33.33% - 24px));
  border: 1px solid #000;
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.gallery__item {
  display: block;
  text-decoration: none;
  color: inherit;
}

.photo-card {
  display: block;
  max-width: 360px;
}

.info {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  min-width: 481px;
  height: auto;
  gap: 28px;
}

li {
  font-family: 'Montserrat SemiBold', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

p {
  font-family: 'Montserrat Regular', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
  text-align: center;
}

.is-hidden {
  display: none;
}

.loader::before,
.loader::after {
  display: block;
  content: "Loading images, please wait...";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  animation: prixClipFix 2s linear infinite;
}

.loader::after {
  display: block;
  inset: 8px;
  transform: rotate3d(90, 90, 0, 180deg);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
  }

  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
  }
}

.load-more {
  border-radius: 8px;
  padding: 8px 16px;
  width: 125px;
  height: 40px;
  background-color: #4e75ff;
  font-family: 'Montserrat Medium', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  margin-top: 32px;
  margin-left: 700px;
  text-align: center;
}

.load-more:hover {
  background-color: #6c8cff;
}

.load-more.is-hidden {
  display: none;
}



